@using MvcStok.Models.Entity
@model PagedList.IPagedList<TBLKATEGORI>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <td>@ktgr.KATEGORIID</td>
                <td>@ktgr.KATEGORIADI</td>
                <td><a href="/Kategorı/SIL/@ktgr.KATEGORIID" class=" btn btn-danger">SİL</a></td>
                <td><a href="/Kategorı/KategoriGetir/@ktgr.KATEGORIID" class=" btn btn-success">GÜNCELLE</a></td>
            </tr>
        }


    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Kategorı/YeniKategori" class="btn btn-primary">Yeni Kategori ekle </a>
