@model MvcStok.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @*<div>

            <label>Kategori adı</label>
            <input type="text" class="form-control" name="KATEGORIADI" />
        </div>*@
    <div>
        <label>Kategori adı</label>
        @Html.TextBoxFor(m => m.KATEGORIADI, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.KATEGORIADI, "", new {@style="color:red" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori ekle </button>
    </div>
</form>

