@using MvcStok.Models.Entity
@model List<TBLMUSTERI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ALERT</th>

    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.MUSTERIID</td>
                <td>@musteri.MUSTERIAD</td>
                <td>@musteri.MUSTERISOYAD</td>
                <td><a href="/Musteri/SIL/@musteri.MUSTERIID" class=" btn btn-danger">SİL</a></td>
                <td><a href="/Musteri/MusteriGetir/@musteri.MUSTERIID" class=" btn btn-success">GÜNCELLE</a></td>
                <td>@Html.ActionLink("Silme butonu", "SIL", new { id = musteri.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('silmek istiyor musunuz?')" })</td>
            </tr>
        }


    </tbody>
</table>

<a href="/Musteri/YeniMusteri" class="btn btn-primary">Yeni Müşteri ekle </a>