@model MvcStok.Models.Entity.TBLMUSTERI
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.MUSTERIID)
        @Html.TextBoxFor(m => m.MUSTERIID, new { @class = "form-control" })
        <br />
        Müşteri adı
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
    
    <br />
    Müşteri Soyadı
    @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
</div>
<div>

    <button class="btn bg-danger">Müşteri güncelle</button>
</div>



}

